.success-stories .slick-dots {
	bottom: -20px;
}

.success-stories .slick-dots li button::before {
	font-size: 10px;
	color: #3b82f6;
}

.success-stories .slick-dots li.slick-active button::before {
	color: #1d4ed8;
}
